.btn {
   --color: transparent;
   --bgc: var(--color);
   --bdc: var(--color);
   --btn-txt-color: var(--text-color);
   --bdw: 0;
   --bds: none;
   --bdr: unset;
   --fw: 600;

   @include focus;

   border: var(--bdw) var(--bds) var(--bdc);
   border-radius: var(--bdr);
   font-weight: var(--fw);
   color: var(--btn-txt-color);
   background-color: var(--bgc);
}

.btn_fill {
   --btn-txt-color: var(--color-white);
}

.btn_fill_primary {
   --color: var(--primary-color);
}

.btn_fill_secondary {
   --color: var(--secondary-color);
}

.btn_outline {
   --bdw: 0.1rem;
   --bds: solid;
   --bgc: transparent;
}

.btn_outline_primary {
   --color: var(--primary-color);
   --btn-txt-color: var(--color);
}

.btn_outline_secondary {
   --color: var(--secondary-color);
   --btn-txt-color: var(--color);
}

.btn_radius {
   --bdr: 9px;
}
