.social {
   --icon-size: 2.8rem;
   --gap: 2.6rem;
   --color: var(--primary-color);

   display: flex;
   column-gap: var(--gap);

   a {
      @include focus;

      width: var(--icon-size);
      height: var(--icon-size);
      color: var(--color);

      img {
         display: block;
      }

      svg {
         color: inherit;
         fill: currentcolor;
      }

      svg,
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}