@font-face {
   src:
      url("../resources/fonts/Inter-Black.woff2") format("woff2"),
      url("../resources/fonts/Inter-Black.woff") format("woff"),
      url("../resources/fonts/Inter-Black.svg#Inter-Black") format("svg");
   font-family: "Inter";
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Inter-Regular.woff2") format("woff2"),
      url("../resources/fonts/Inter-Regular.woff") format("woff"),
      url("../resources/fonts/Inter-Regular.svg#Inter-Regular") format("svg");
   font-family: "Inter";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Raleway-Medium.woff2") format("woff2"),
      url("../resources/fonts/Raleway-Medium.woff") format("woff"),
      url("../resources/fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
   font-family: "Raleway";
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Raleway-SemiBold.woff2") format("woff2"),
      url("../resources/fonts/Raleway-SemiBold.woff") format("woff"),
      url("../resources/fonts/Raleway-SemiBold.svg#Raleway-SemiBold") format("svg");
   font-family: "Raleway";
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Raleway-Regular.woff2") format("woff2"),
      url("../resources/fonts/Raleway-Regular.woff") format("woff"),
      url("../resources/fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
   font-family: "Raleway";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Montserrat-Regular.woff2") format("woff2"),
      url("../resources/fonts/Montserrat-Regular.woff") format("woff"),
      url("../resources/fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
   font-family: "Montserrat";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Montserrat-SemiBold.woff2") format("woff2"),
      url("../resources/fonts/Montserrat-SemiBold.woff") format("woff"),
      url("../resources/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
   font-family: "Montserrat";
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Montserrat-Light.woff2") format("woff2"),
      url("../resources/fonts/Montserrat-Light.woff") format("woff"),
      url("../resources/fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
   font-family: "Montserrat";
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
      url("../resources/fonts/Montserrat-ExtraBold.woff") format("woff"),
      url("../resources/fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold") format("svg");
   font-family: "Montserrat";
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Montserrat-Medium.woff2") format("woff2"),
      url("../resources/fonts/Montserrat-Medium.woff") format("woff"),
      url("../resources/fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
   font-family: "Montserrat";
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Montserrat-Bold.woff2") format("woff2"),
      url("../resources/fonts/Montserrat-Bold.woff") format("woff"),
      url("../resources/fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
   font-family: "Montserrat";
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/MrDafoe-Regular.woff2") format("woff2"),
      url("../resources/fonts/MrDafoe-Regular.woff") format("woff"),
      url("../resources/fonts/MrDafoe-Regular.svg#MrDafoe-Regular") format("svg");
   font-family: "Mr Dafoe";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Mr Dafoe', cursive;
// font-family: 'Raleway', sans-serif;
