:root {
   --container-max-width: 120rem;
   --container-safety-indents: 15px;

   // Color
   --color-white: #fff;
   --black: #000;
   --green: #55a630;
   --ocean-blue: #4340b4;
   --black-panther: #424242;

   // global-colors
   --primary-color: var(--green);
   --secondary-color: var(--ocean-blue);
   --text-color: var(--black-panther);

   // Sizes
}
